*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}


.page{
  display: flex;
  justify-content: center;
  align-items: center;
}

.content{
  display: flex;
  align-items: end;
  width: 1140px;
  gap: 30px;
}

.search-form{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content__list-container{
  height: 534px;
  overflow: auto;
}

.content__details{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 26px;
  height: 470px;
}

.result__video-container{
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__list{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-container{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card{
  display: flex;
  align-items: start;
}

.content__video-card-thumbnail{
  height: 103px;
  min-width: 194px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
}
